# Exclude HConex.jar build output
HConex.jar

# Exclude node modules
node_modules/

# Python related files
*.pyc
__pycache__/

# Maven build artifacts
*.jar
*.war
*.ear
*.class
*.snapshot
# Maven-related files
*/target/
*/.mvn/